@import "./variables.scss";
.card {
	font-size: 1.4rem;
}

.imageCollectionWrapper {
	display: flex;
}

.imagesWrapper {
	display: flex;
	flex-direction: column;
}

.cardDetails {
	line-height: 1.7rem;
	padding-right: 1.5rem;
	margin-top: 1rem;
}

.cardNameLink {
	cursor: pointer;
	color: $blue;
}

.cardImage {
	border-radius: 1.1rem;
	cursor: pointer;
}

.collectorsData {
	font-size: 1.25rem;
}

.imagePrint {
	cursor: auto;
}
