@import './variables.scss';

.collectionMenu{
    height: 100%;
    background-color: #fff;
    position: relative;
    margin-top: 3rem;
    padding: .75rem;
    box-shadow: 0 0 6px -1px #ccc;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;

    li{
        font-size: 1.4rem;
        list-style: none;
    }

    .addMenu, 
    .removeMenu {
        cursor: pointer;
        padding: .5rem;
        color: $dark-blue;

        &:hover{
            color: $light-green;
        }
    }

    .dividerLine{
        height: 1px;
        background-color: #E6E6E6;
        width: 100%;
        margin: 0 auto;
        color: $dark-green;
        background: linear-gradient(to left,rgba(0, 49, 51, 0) 0%,rgba(0, 49, 51,1) 50%,rgba(0, 49, 51,0) 100%); /* W3C */
    }

    .collectionQuantity,
    .collectionQuantityFoil{
    
        text-align: center;
        padding-top: .5rem;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input {
            width: 3.5rem;
            text-align: center;
            font-family: $main-font;
            border: 1px solid #ccc;
        }
    }



    .collectionQuantityFoil {
    
        input{
            
            background: linear-gradient(135deg, rgba(255, 38, 0,  0.15) , rgba(255, 187, 0,  0.15), rgba(0, 128, 6, 0.15), rgba(177, 242, 253, 0.15), rgba(0, 0, 255,  0.15), rgba(234, 130, 238, 0.15), rgba(238, 130, 130, 0.15));
        }
    }

    .collectionLogo{
        line-height: 0;
    }
} 