@import "./variables.scss";

.cardModalContainer {
	position: fixed;
	z-index: 999;
	background-color: rgba($color: #000000, $alpha: 0.5);
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
}

.cardModalWrapper {
	background-color: #fff;
	margin: 0 auto;
	padding: 2rem 4rem 4rem 4rem;
	border-radius: 1.5rem;
	max-width: $max-content-size;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 2px 3px 8px 2px #0000005c;

	header {
		text-align: center;
		position: relative h1 {
			text-align: center;
			flex: 1 1 80%;
		}

		.closeModal {
			position: absolute;
			right: 2rem;
			top: 1rem;
			cursor: pointer;
			font-size: 1.8rem;
			transition: all 0.25s ease-in-out;
			color: $dark-gray;

			&:hover {
				transform: scale(1.25);
				color: $dark-blue;
			}
		}
	}
}

.cardModalMain {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;

	.versionsTable {
		display: block;
		border-collapse: collapse;
	}

	.cardImages {
		display: flex;
		gap: 0.1rem;
	}
}

.versionRow,
.selectedVersion {
	text-align: center;
	cursor: pointer;

	&:nth-child(even) {
		background-color: $gray;
	}

	td {
		min-width: 3.5rem;
		padding: 0.75rem;
	}

	&:hover {
		background-color: $highlight-green;
	}
}

.selectedVersion {
	border-left: 0.25rem solid $light-green;
}

.versionHeader,
.versionCell {
	text-align: left;
}

.versionCell {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}
