@import "./variables.scss";
@import "./mixins.scss";
.isNotList {
	@include selected-list;

	.isNotItem {
		display: flex;
		gap: 0.3rem;
		align-items: center;

		.itemName {
			font-size: 1.2rem;
		}

		.itemRemove {
			font-size: 1.2rem;
			padding: 0.2rem;
		}

		.itemRemove,
		.itemIs {
			background-color: $gray;
			cursor: pointer;
			transition: background-color 0.25s ease-in-out;
		}

		.itemIs {
			color: #fff;
			text-align: center;
			font-size: 1rem;
			width: 3rem;
		}
		.itemIsFalse {
			background-color: #e45f5f;
		}

		.itemIsTrue {
			background-color: #0d8480;
		}
	}
}
