@import "./variables.scss";

.reports {
	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 1rem;
		li {
			margin-bottom: 1rem;
		}

		span {
			font-weight: 600;
		}
	}

	table {
		border-collapse: collapse;
		margin: 0.5rem 0 0 1rem;
		th {
			font-weight: normal;
			text-transform: capitalize;
			background-color: $gray;
		}
		td {
			padding: 0 2.5rem;
			border: 1px solid $gray;
			border-top: 0;
		}
	}
}

.reportSection {
	margin-bottom: 2rem;
}
