@import "./variables.scss";

.searchResults {
	margin: 3rem 0;
}

.resultsList {
	margin: 2rem 0;
	padding: 0 0 4rem 0;
}

.cardWrapper {
	list-style: none;
}

.resultsWrapper {
	min-height: 4rem;
	margin-bottom: 5rem;
}

.resultsList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: 2.5rem 5rem;
}
