@import './variables.scss';
.displayNone {
    display: none;
}

.displayBlock{
    display: block;
}


.suggestionBox {
    display: none;
    
    &:focus{
        display: block;
    }
}

.searchByName{   
    font-family: 'Saira', sans-serif;
    margin-bottom: 6rem;

    &:focus {
        .searchSuggestions {
            display: block;
        }
    }
}


.setField,
.nameField {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;

    span {
        width: 0;
        flex: 1 1 8rem;
        font-size: 1.2rem;
    }

    select,
    input {
        margin-left: 1rem;
        font-size: 1.2rem;
        width: 0;
        flex: 1 1 calc(100% - 8rem);
    }
}

.setField select,
.nameField input{  
    border: none;
    border-bottom: 1px solid $dark-green;
    font-family: 'Saira', sans-serif;

    &:focus{
        outline: none !important;
    }
}