@import "./variables.scss";
@import "./mixins.scss";

.selectedList {
	@include selected-list;
	.selectedListItem {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;

		svg {
			cursor: pointer;
		}

		p {
			margin: 0;
		}
	}
}
