@import "./variables.scss";
@import "./mixins.scss";

.selectedList {
	@include selected-list;
	.selectedListItem {
		@include icon-with-text;
		margin-bottom: 0.5rem;

		svg {
			cursor: pointer;
		}

		p {
			margin: 0;
		}
	}
}
