$dark-green: #003133;
$light-green: #7d9f35;
$highlight-green: #f6fae9;
$blue: #0f597c;
$dark-blue: #002738;
$gray: #ececec;
$dark-gray: #ccc;
$main-font:'Saira', sans-serif;

$max-content-size: 120rem;